.dropdown {
    position: absolute !important;
    margin-left: 5px;
    margin-top: 5px;
}

.active {
    background-color: #4CAF50;
  }

  li:last-child {
    border-right: none;
  }

  .imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.btn, .dropdown-menu {
	font-size: 18px !important;
}